# URL de l'API (le site web déployé)
EXPO_PUBLIC_API_URL=https://infirmier-ufe3.vercel.app
# Clés publiques Pusher (optionnel, pour le temps réel)
EXPO_PUBLIC_PUSHER_KEY=
EXPO_PUBLIC_PUSHER_CLUSTER=eu
